html, body {
    margin: 0;
    padding: 0;
  }

body {
    background-color: #fefcf5;
    font-family: "Poppins", serif;
}

#header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.header-container2 {
    display: flex;
    gap: 500px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: medium;
    color: #3d4043;
}

.header-container {
    padding-top: 30px;
    display: flex;
    gap: 40px;
}

#blirb {
    position: absolute;
    padding-top: 10px;
}

#sidebar {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 20px;

    position: absolute;
    left: -300px;
    animation: drop 2s ease-out forwards;
}

@keyframes drop {
    0% {
        left: -500px; /* Initial position (off-screen) */
    }
    100% {
        left: -5px; /* Final position */
        opacity: 1;
        transform: translateY(0vh);
    }
  }

#sidebar-container.animate .sidebar {
    animation: drop 2s ease-out forwards;
}

button {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;

    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fefcf5;

    padding-top: 12px;
    padding-bottom: 12px;

    transition: box-shadow 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    box-shadow: 4px 5px 0px rgba(0, 0, 0, 0.3);
  }

#viewProfile::after {
    content: ' →';
    opacity: 0;  /* Initially hidden */
    position: absolute;
    right: 80px; /* Position it just outside */
    transition: opacity 0.3s ease, right 0.3s ease; /* Animation */
}

#viewProfile:hover::after {
    opacity: 1;  /* Show the arrow */
    right: 70px; /* Move the arrow inside the button */
}

#viewProfile {
    background-color: #da513e;
}

#penPals::after {
    content: ' →';
    opacity: 0;  /* Initially hidden */
    position: absolute;
    right: 110px; /* Position it just outside */
    transition: opacity 0.3s ease, right 0.3s ease; /* Animation */
}

#penPals:hover::after {
    opacity: 1;  /* Show the arrow */
    right: 100px; /* Move the arrow inside the button */
}

#penPals {
    background-color: #bcc8bd;
}

#oldLetters {
    background-color: #f79840;
}

#explore {
    background-color: #b1bb84;
}

#write {
    background-color: #e2826b;
}

#notif {
    font-family: "Poppins", serif;
    font-weight: 650;
    font-style: normal;
    font-size: 16px;

    padding-top: 30px;
    padding-left:57vw;
}

#notifText {
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #f4c150;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#letters {
    padding-left:43vw;
    padding-top: 40px;
}

/* ************************Write specific********************** */

#pageItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#writeContent {
    width: 60vw;
    background-color: #fbeed0;
    padding: 60px;
    padding-top: 70px;
    padding-bottom: 70px;

    border-width: 3px;
    border-color: #642f23;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.3);
}

#sendContainer {
    padding-top: 30px;
    padding-left: 15vw;
    display: flex;
    gap: 54.5%;
}

#send {
    border-radius: 30px;
    border: 2px solid #1e1e1e;
    background-color: #1e1e1e;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: medium;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#backHome {
    border-radius: 30px;
    border: 2px solid #1e1e1e;
    background-color: #fefcf5;
    color: black;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: medium;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#footer {
    height: 100px;
}