<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Accout - Letterfly</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='discover.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
<body>
    <div id="header">
        <div class="header-container2">
            <div class="header-container">
                <span>About Letterfly</span>
                <span>Contact Us</span>
            </div>
            <div class="header-container">
                <span>Support</span>
                <span>FAQs</span>
                <span>Getting Started</span>
            </div>
        </div>
        <img src="../static/images/logo.png" width="100px" id="blirb">
    </div>
    <div style="padding-left: 75vw; padding-top: 50px;">
        <button id="backHome" onclick="window.location.href='/dashboard';">Back to Dashboard
        </button>
    </div>
    <div class="letterInfo">
        Read a New Open Letter!
    </div>
    <div class="letters">
        <div class="letter"><div class="letter2"><div class="letter3">こんにちは, <br><br> ここ何週間も気になっていた考えについて考えてきましたが、ついにそれを共有する時が来たと感じています。 それは、私たちがいかに小さな意見の相違を実際よりもはるかに大きな...</div></div></div>
        <div class="letter"><div class="letter2"><div class="letter3">Hellooo! <br><br> I can hardly contain my excitement as I write this—I’ve stumbled upon something so amazing, I just have to tell you all about it! It’s this new book I discovered that’s...</div></div></div>
        <div class="letter"><div class="letter2"><div class="letter3">ちょっと、そこ, <br><br> 手遅れになる前に誰もが知っておくべき非常に重要なことがあると感じたので、今日は重い気持ちでこの記事を書いています。 地元の政策に大きな変化があり、残念です...</div></div></div>
        <div class="letter"><div class="letter2"><div class="letter3">Hey there!<br><br>Hope you're doing well. I just wanted to drop in and share a little something that’s been on my mind lately. We all seem to be so caught up in the rush of daily life...</div></div></div>
    </div>
    <div class="letters">
        <div class="letter"><div class="letter2"><div class="letter3">ちょっと、そこ, <br><br> 羽を混乱させる人もいるかもしれないが、今こそ誰かが声を大にして言うべきだ。私たちは皆、全体像を見逃しているのだ。 私たちは「今」に集中しすぎて、本当のことを完全に無視してきました...</div></div></div>
        <div class="letter"><div class="letter2"><div class="letter3">Hi whoever's reading this, <br><br>I’ve been wondering something for a while, and I’d love to hear your thoughts on it: do you feel the same way? It’s about how we define success in today’s world—why does it seem like...</div></div></div>
        <div class="letter"><div class="letter2"><div class="letter3">Yo. <br><br> I’m about to dive into something a little out there, so buckle up—this might be one of the weirdest things you read today! Have you ever wondered why socks always seem to disappear in...</div></div></div>
        <div class="letter"><div class="letter2"><div class="letter3">こんにちは, <br><br> このメッセージが関係者に届いていることを願っています。私は、さらに議論する価値があると思われるトピックについて取り上げたいと思います。 現在の教育政策の有効性についての継続的な議論に関するものです...</div></div></div>
    </div>
    <div style="height: 60px"></div>
</body>