<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Accout - Letterfly</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
<body>
  <div id="header">
    <div class="header-container2">
      <div class="header-container">
          <span>About Letterfly</span>
          <span>Contact Us</span>
      </div>
      <div class="header-container">
          <span>Support</span>
          <span>FAQs</span>
          <span>Getting Started</span>
      </div>
    </div>
    <img src="../static/images/logo.png" width="100px" id="blirb">
  </div>
  <div class="container">
    <div id="createAccount">Create Account</div>
    <div style="width: 420px;">

      <span>Choose a unique username:</span>
      <input type="text" placeholder="Username" name="uname" id="username" required>
      <div style="height: 15px;"></div>

      <span>Choose a password:</span>
      <input type="password" placeholder="Password" name="psw" id="password" required>
      <div style="height: 15px;"></div>

      <span>What would you like to be called?</span>
      <input type="nickname" placeholder="Nickname" name="nckname" id="nickname" required>
      <div style="height: 15px;"></div>

    </div>

    <div class="left">
      <form id="language-form-read">
        <div class="lang-container">
          <label for="language-read">Which languages would you like to <u>read</u> letters in?</label>
          <div class="lang-container2">
            <select id="language-read" required>
              <option value="" disabled selected>Select a language</option>
            </select>
            <button type="button" id="add-language-read-btn">Add</button>
          </div>
        </div>
      </form>
      <span style="font-weight: 400;">Languages (click to remove):</span>
      <ul id="language-list-read">
        <!-- List of added languages will appear here -->
      </ul>
      <div style="height: 15px;"></div>
      <form id="language-form-write">
        <div>
          <label for="language-write">Which languages would you like to <u>write</u> letters in?</label>
          <div class="lang-container2">
            <select id="language-write" required>
              <option value="" disabled selected>Select a language</option>
            </select>
            <button type="button" id="add-language-write-btn">Add</button>
          </div>
        </div>
      </form>
      <span style="font-weight: 400;">Languages (click to remove):</span>
      <ul id="language-list-write">
        <!-- List of added languages will appear here -->
      </ul>
      <div style="height: 20px;"></div>
      <button id="cab" onclick="createAccount()">CREATE</button>
    </div>
  <div class="footer" style="height:100px"></div>
  </div>

  <script src="{{ url_for('static', filename='signup.js') }}"></script>
</body>